*{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
#main_heading{
    text-align: center;
}

#end_title{
    text-align: center;
}

.rows{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 600px;
    margin: 15px;
  
}
#row1{
    background-color: aqua;
  
}

#row2{
    background-color: rgb(213, 175, 206);
  
}

#row3{
    background-color:white;
  
}

img{
    padding: 10px;
    height: 180px;
    width: 180px;
}
body{
    background-color: rgb(234,243,255);
}