*{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
#main_heading{
    text-align: center;
}

#end_title{
    text-align: center;
}

.row1{
    display: flex;
    justify-content: center;
    background-color: aqua;
    height: 200px;
    width: 600px;
    margin: 15px;
  
}

.row2{
    display: flex;
    justify-content: center;
    background-color: rgb(213, 175, 206);
    height: 200px;
    width: 600px;
    margin: 15px;
  
}

.row3{
    display: flex;
    justify-content: center;
    background-color:white;
    height: 200px;
    width: 600px;
    margin: 15px;
  
}

img{
    padding: 10px;
    height: 180px;
    width: 180px;
}